/* CSS da página de Pesquisa da Função */

/* Pesquisa */
#pesquisa {
    display: inline-block;
}

/* Cadastro */
#cadastro {
    display: inline-block;
}

/* Setores */
#funcoes {
    padding-top: 12px;
}

#funcoes table tr th {
    text-align: start;
    padding: 2px 4px;  
}