/* Estilo geral das páginas internas */
* {
    margin: 0px;
    padding: 0px;
}

body {    
    background-size: cover;
    background-color: #f2f2f2;
    font-family: 'Comfortaa', sans-serif;
}

nav {
    /*border: 2px solid white;*/    
    background-color: rgb(0, 179, 179);
}

nav h1 {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 10px;    
}

nav a {
    display: inline-block;
    padding: 20px 20px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

nav a:hover {
    transition: 0.2s;
    background-color: #ff4da6;
}

section {
    padding: 10px;
}

footer{
    bottom: 0;
    position: fixed;
    width: 100%;
    padding: 10px 10px; 
    /*border: 2px solid white;*/
    background-color: rgb(0, 179, 179);
    font-size: 12px;
    color: white;        
}