/* setor/pesquisa.css */

/* Pesquisa */
#pesquisa {
    display: inline-block;
}

/* Cadastro */
#cadastro {
    display: inline-block;
}

/* Setores */
#setores {
    padding-top: 12px;
}

#setores table tr th {
    text-align: start;
    padding: 2px 4px;  
}